body {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
margin-top: 40px;

background-color: black;
}

.wrapper {
display: flex;

width: 380px;
height: 280px;
background-color: cyan;

justify-content: center;
align-items: end;
}

.wrapper > div {
display: flex;
align-items: center;

width: 500px;
height: 201px;
background-color: gray;
}

.wrapper > div > button {
width: 73px;
height: 22px;
}

.wrapper > div > div {
display: flex;


justify-content: end;
width: 256px;
height: 100%;
background-color: brown;
}

#numpad {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 7px;

background-color: greenyellow;
height: 174px;
width: 247px;
}

#numpad > button {
width: 73px; /* 80 */
height: 22px;
}

#numpad > button:nth-child(12) {
visibility: hidden;
}